################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/v16/.suo
/Api/AsyncAPI/Books/BookCovers.API/bin/Debug/netcoreapp3.1
/Api/AsyncAPI/Books/BookCovers.API/obj
/Api/AsyncAPI/Books/Books.API/.idea/.idea.Books.API.dir
/Api/AsyncAPI/Books/Books.API/bin/Debug/netcoreapp3.1
/Api/AsyncAPI/Books/Books.API/obj
/Api/AsyncAPI/Books/Books.Legacy/bin/Debug/netstandard20
/Api/AsyncAPI/Books/Books.Legacy/obj
/Language/Attributes/ContactWriter/bin
/Language/Attributes/ContactWriter/obj
/Language/Attributes/ContactWriter.Test/bin/Debug/netcoreapp3.1
/Language/Attributes/ContactWriter.Test/obj
/Language/Attributes/ClassLibrary1/ClassLibrary1/obj/Debug
/Language/Attributes/ClassLibrary1/ClassLibrary1/bin/Debug
/.vs/DesignTimeBuild
/.vs/Pluralsight/v16
/.vs/Pluralsight/DesignTimeBuild
/Api/Polly/Before/PollyBefore/obj/Debug/netcoreapp2.0
/Api/Polly/Before/PollyBefore/bin/Debug/netcoreapp2.0
/Api/Polly/Before/PollyBefore/obj
.vs/Pluralsight/config/applicationhost.config
/Angular/angular-pluralsight
/DesignPatterns/Dependency Injection/People.Service/bin/Debug/netcoreapp2.2
/DesignPatterns/Dependency Injection/People.Service/obj
/DesignPatterns/Dependency Injection/PeopleViewer/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Common/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PeopleViewer.Common/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation/obj
/DesignPatterns/Dependency Injection/PersonDataReader.Service/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.Service/obj
/DesignPatterns/Dependency Injection/PeopleViewer.View/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.View/obj/Debug
/DesignPatterns/Dependency Injection/PersonDataReader.CSV/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.CSV/obj
/DesignPatterns/Dependency Injection/PersonDataReader.SQL/obj/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.SQL/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.SQL/obj
