################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/v16/.suo
/Api/AsyncAPI/Books/BookCovers.API/bin/Debug/netcoreapp3.1
/Api/AsyncAPI/Books/BookCovers.API/obj
/Api/AsyncAPI/Books/Books.API/.idea/.idea.Books.API.dir
/Api/AsyncAPI/Books/Books.API/bin/Debug/netcoreapp3.1
/Api/AsyncAPI/Books/Books.API/obj
/Api/AsyncAPI/Books/Books.Legacy/bin/Debug/netstandard20
/Api/AsyncAPI/Books/Books.Legacy/obj
/Language/Attributes/ContactWriter/bin
/Language/Attributes/ContactWriter/obj
/Language/Attributes/ContactWriter.Test/bin/Debug/netcoreapp3.1
/Language/Attributes/ContactWriter.Test/obj
/Language/Attributes/ClassLibrary1/ClassLibrary1/obj/Debug
/Language/Attributes/ClassLibrary1/ClassLibrary1/bin/Debug
/.vs/DesignTimeBuild
/.vs/Pluralsight/v16
/.vs/Pluralsight/DesignTimeBuild
/Api/Polly/Before/PollyBefore/obj/Debug/netcoreapp2.0
/Api/Polly/Before/PollyBefore/bin/Debug/netcoreapp2.0
/Api/Polly/Before/PollyBefore/obj
.idea/.idea.Pluralsight/riderModule.iml
.idea/.idea.Pluralsight/.idea/vcs.xml
.idea/.idea.Pluralsight/.idea/misc.xml
.idea/.idea.Pluralsight/.idea/indexLayout.xml
.idea/.idea.Pluralsight/.idea/encodings.xml
.idea/.idea.Pluralsight/.idea/dictionaries/ozgursarikamis.xml
.vs/Pluralsight/config/applicationhost.config
/Angular/angular-pluralsight
/DesignPatterns/Dependency Injection/People.Service/bin/Debug/netcoreapp2.2
/DesignPatterns/Dependency Injection/People.Service/obj
/DesignPatterns/Dependency Injection/PeopleViewer/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Common/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PeopleViewer.Common/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation/obj
/DesignPatterns/Dependency Injection/PersonDataReader.Service/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.Service/obj
/DesignPatterns/Dependency Injection/PeopleViewer.View/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.View/obj/Debug
/DesignPatterns/Dependency Injection/PersonDataReader.CSV/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.CSV/obj
/DesignPatterns/Dependency Injection/PersonDataReader.SQL/obj/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.SQL/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PersonDataReader.SQL/obj
/DesignPatterns/Dependency Injection/PersonDataReader.Decorators/obj
/DesignPatterns/Dependency Injection/PersonDataReader.Decorators/bin/Debug/netstandard2.0
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/obj/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac.LateBinding/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac.LateBinding/obj/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Ninject/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Ninject/obj/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation.Tests/bin/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation.Tests/obj/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PersonDataReader.CSV.Tests/bin/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PersonDataReader.CSV.Tests/obj/Debug/netcoreapp3.1
/Web/DI-Steve Gordon/src/TennisBookings.Web/obj
/Web/DI-Steve Gordon/test/TennisBookings.Web.Tests/obj/Debug/netcoreapp2.2
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac.LateBinding/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Ninject/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation.Tests/obj
/Web/.DS_Store
/.DS_Store
/DesignPatterns/Dependency Injection/PersonDataReader.CSV.Tests/obj
/Web/DI-Steve Gordon/test/TennisBookings.Web.Tests/obj
/.idea/.idea.Pluralsight/.idea
/Api/.DS_Store
/Web/DI-Steve Gordon/src/TennisBookings.Web/obj
/Web/DI-Steve Gordon/test/TennisBookings.Web.Tests/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/bin/Debug
/Api/.DS_Store
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/obj/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac.LateBinding/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Autofac.LateBinding/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Ninject/bin/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Ninject/obj/Debug
/DesignPatterns/Dependency Injection/PeopleViewer.Ninject/obj
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation.Tests/bin/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation.Tests/obj/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PeopleViewer.Presentation.Tests/obj
/DesignPatterns/Dependency Injection/PersonDataReader.CSV.Tests/bin/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PersonDataReader.CSV.Tests/obj/Debug/netcoreapp3.1
/DesignPatterns/Dependency Injection/PersonDataReader.CSV.Tests/obj
/Web/.DS_Store
/.DS_Store
/.idea/.idea.Pluralsight/.idea
/Language/Working With Nulls/01 MagicNumbers/GameConsole/bin/Debug
/Language/Working With Nulls/01 MagicNumbers/GameConsole/obj/Debug
/Language/Working With Nulls/02 NullableOfT/GameConsole/obj/Debug
/Language/Working With Nulls/03 Null Basics with CS8/NullBasics/obj
/Language/Working With Nulls/03 Null Basics with CS8/NullBasics/bin/Debug/netcoreapp3.1
/Web/Advanced Restful Concerns/CourseLibrary.API/bin/Debug/netcoreapp3.0
/Web/Advanced Restful Concerns/CourseLibrary.API/obj
/Web/1 Building Restful APIs/CourseLibrary.API/obj
/Web/1 Building Restful APIs/CourseLibrary.API/bin/Debug/netcoreapp3.1
/Api/GraphQL/CarvedRock.Api/bin/Debug/netcoreapp2.1
/Api/GraphQL/CarvedRock.Api/obj
/Testing/AutoFixture/Fixture/obj
/Testing/AutoFixture/Fixture/bin/Debug/netstandard2.0
/Testing/AutoFixture/Fixture.Tests/bin/Debug/netcoreapp3.1
/Testing/AutoFixture/Fixture.Tests/obj/Debug/netcoreapp3.1
/Testing/AutoFixture/Fixture.Tests/obj
/Testing/AutoFixtureProjects/AutoFixture.Demo/bin/Debug/netstandard2.0
/Testing/AutoFixtureProjects/AutoFixture.Demo/obj/Debug/netstandard2.0
/Testing/AutoFixtureProjects/AutoFixture.Demo/obj
/Testing/AutoFixtureProjects/AutoFixture.Demo.Tests/bin/Debug/netcoreapp3.1
/Testing/AutoFixtureProjects/AutoFixture.Demo.Tests/obj/Debug/netcoreapp3.1
/Testing/AutoFixtureProjects/AutoFixture.Demo.Tests/obj
/Testing/AutoFixtureProjects.Maintenance/bin/Debug/netstandard2.0
/Testing/AutoFixtureProjects.Maintenance/obj
/Testing/AutoFixtureProjects.Maintenance.Tests/bin/Debug/netcoreapp3.1
/Testing/AutoFixtureProjects.Maintenance.Tests/obj/Debug/netcoreapp3.1
/Testing/AutoFixtureProjects.Maintenance.Tests/obj
/Api/Building RESTful API/CourseLibrary.API/bin/Debug/netcoreapp3.1
/Api/Building RESTful API/CourseLibrary.API/obj
/Web/Configuration and Options/src/TennisBookings.Web/bin/Debug/netcoreapp3.0
/Web/Configuration and Options/src/TennisBookings.Web/obj
/Web/Configuration and Options/src/WeatherService.Api/obj
/Web/Configuration and Options/src/WeatherService.Api/bin/Debug/netcoreapp2.2
/Web/Configuration and Options/src/BrandedProducts.Api/bin/Debug/netcoreapp2.2
/Web/Configuration and Options/src/BrandedProducts.Api/obj
/Web/Configuration and Options/tests/TennisBookings.Web.Tests/obj
/Web/Configuration and Options/tests/TennisBookings.Web.Tests/bin/Debug/netcoreapp3.0
